nav *{
    color: #607d8b;
    background-color: white;
}

.hide-on-med-and-down li a {
    color: #607d8b;
    background-color: white;
}

nav img {
    height: auto;
    vertical-align: middle;
    
}

.text-right * { 
    text-align: right;
}

.truncate * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "...";
}

.right {
    float: right;
}

.brand-logo {
    margin-left: 10px;
    color: #607d8b !important;
    background-color: white;
}

.card-image {
    width:100%;max-height:300px;overflow:hidden;
}

.card-image img{
    width:100%;
}

@media only screen and (max-width: 992px) {

    .card-image {
        width:100%;max-height:200px;overflow:hidden;
    }

    .container{
        padding-left: 10px;
        padding-right: 10px;
    }

    .brand-logo-text {
        display: none;
    }
}

.heading {
    color: #ffffff ;
    text-align: center;
    padding: 60px 0 60px 0;
}

.heading-row {
    background-color: #607d8b;
}

.container {
    width: 100%;
}

.img {
    width: 100%;
}