<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="https://kit.fontawesome.com/896818822e.js" crossorigin="anonymous"></script>
  </head>
  <body>
      {{ partial "header.html" . }}
      {{ block "main" .}}

      {{ end }}
      {{ partial "footer.html" . }}
  </body>

  <script src="/js/jquery.js"></script>
  <script src="/js/materialize.js"></script>
  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
  </script>
</html>