<footer class="page-footer blue-grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Datepoll</h5>
          <p class="grey-text text-lighten-4">
            Datepoll is a Open-Source project started in 2020. We wan't to bring digitalization in clubs and organisations to improve the management and make it less time intense.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Sources:</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://gitlab.com/DatePoll/datepoll-frontend">Frontend</a></li>
            <li><a class="grey-text text-lighten-3" href="https://gitlab.com/DatePoll/datepoll-backend-php">Backend</a></li>
            <li><a class="grey-text text-lighten-3" href="https://gitlab.com/DatePoll/datepoll-android">Android</a></li>
            <li><a class="grey-text text-lighten-3" href="https://gitlab.com/DatePoll/datepoll-home">This website</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright blue-grey darken-3">
      <div class="container">
      © 2020 Datpoll
      </div>
    </div>
  </footer>